<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>About Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Dhilip Kumar.</p>
        <img class="image" src="/img/dhilip.jpg" alt="Dhilip" />
    </div>
    {{>footer}}
</body>

</html>