<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Help Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>
    {{>footer}}
</body>

</html>