<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="icon" href="/img/weather.png">
    <title>Weather Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get weather!!</p>
        <form>
            <input placeholder="location">
            <button>search</button>
        </form>
    </div>

    <p class="m1">

    </p>
    <p class="m2">

    </p>
    {{>footer}}
    <script src="js/app.js  "></script>
</body>

</html>